<% if user_signed_in? %>
  <div class='cls-container'>
    <div class='cls-addbar'>
      <input type='text' placeholder='search'/>
      <span class='glyphicon glyphicon-plus-sign' aria-hidden='true'>
      </span>
    </div>
    <div class='cls-friend-list'>
        <% User.all.each do |user| %>
          <div class='cls-list-row'>
            <span> <%= link_to user.email, "#" %></a> </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <h1> Favor </h1>
  <p> Sign up and connect with your friend to ask for a fovor </p>
<% end %>
<%= help_path %>
