/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$light-sky: #d8f7ff;
$navbar-default-color: $light-sky;
$navbar-default-bg: #293370;
$navbar-default-link-color: gray;
$navbar-default-link-active-color: $light-sky;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: black;


@import "bootstrap-sprockets";
@import "bootstrap";
$default-padding : 15px;
$default-screen-width:1170px;
$list-row-top: 45px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
body { padding-top: 50px; }
a:hover{
  text-decoration: none;
}
.cls-container{
  margin: 0 auto;
  max-width:$default-screen-width;
  @media (min-width: $default-screen-width)  {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
  }
}
.cls-addbar{
  padding: 0 $default-padding;
  margin: $default-padding 0;
  input{
    @media (min-width: $screen-lg)  {width:98%;}
    @media (min-width: $screen-md) and (max-width: $screen-lg)  {width:97%;}
    @media (min-width: $screen-sm) and (max-width: $screen-md)  {width:96%;}
    @media (max-width: $screen-sm) {width:95%;}
  }
}
.cls-list-row{
  border-top : 1px solid gray;
  line-height: $list-row-top;
  span{
    margin-left:$default-padding;
  }
}
.cls-friend-list{
  border-bottom: 1px solid gray;
}
